* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* fruit-section */
#fruit-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 20vh;
  border: 1px solid black;
}
.fruit-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 30%;
  border: 1px solid black;
}
